<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}IATI Report Card{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ init.urlBase }}dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ init.urlBase }}works/style.css" rel="stylesheet" media="screen">

  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">IATI Report Card</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li{% if path == 'index' %} class="active"{% endif %}><a href="{{ init.urlBase }}">Home</a></li>
            <li{% if path == 'donors' %} class="active"{% endif %}><a href="{{ init.urlBase }}?path=donors">Donors</a></li>
            <li{% if path == 'recipients' %} class="active"{% endif %}><a href="{{ init.urlBase }}?path=recipients">Recipients</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

{% block content %}

      <div class="">
        <h1>Latest IATI Updates</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>


{% endblock %}

    </div><!-- /.container -->






    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ init.urlBase }}dist/js/bootstrap.min.js"></script>
    <script src="{{ init.urlBase }}works/stupidtable.min.js"></script>
    
{% block js %}

    
{% endblock %}
    
  </body>
</html>



