{% extends "base.html" %}

{% block title %}IATI Report Card{% endblock %}

{% block content %}
    <h1>Latest IATI Updates</h1>
    <p class="lead">The countries below publish data according to the IATI standard. Countries are listed in order of most recent updates, by default. Cheers to donors and publishers that publish at a high frequency!</p>
    
    {% include 'chart.html' %}

<table id="countries_list" class="table countries" border="0">
  <thead>
	<tr><th class="country" data-sort="string" style="width: 37%">Donor Country</th><th class="date" data-sort="int" style="width: 23%">Last Updated<span class="arrow">&uarr;</span></th><th class="numadded" data-sort="int" style="width: 20%">Activities Added</th><th class="numtotal" data-sort="int" style="width: 20%">Total Activities</th></tr>
  </thead>
  <tbody>
	
    {% for country in countries %}
      {% if country.name %}
    
    <tr>
      <td class="country" data-sort-value="{{ country.name|lower }}"><a href="{{ init.urlBase }}?path=donors&donor={{ country.group_id }}">{{ country.name }}</a></td>
      <td class="date" data-sort-value="{{ country.updated|strtotime }}">{{ country.updated|date("F d, Y") }}</td>
      <td class="numadded" data-sort-value="{{ country.added }}">{{ country.added }}
      
      
       &nbsp;<span class="text-muted">(+ {% if country.total > 0 %}{{ ((country.added + country.total) / country.total * 100 - 100)|round2 }}{% else %}0{% endif %}%)</span>
      
      

       </td>
      <td class="numtotal" data-sort-value="{{ country.total }}">{{ country.total }}</td>
    </tr>
      {% endif %}
    
    {% endfor %}	

  </tbody>

</table>
    
{% endblock %}

{% block js %}
{% verbatim %}    
    <script>
  $(function(){
      var countries_table = $("#countries_list").stupidtable();
      
      countries_table.on("aftertablesort", function (event, data) {
        var th = $(this).find("th");
        th.find(".arrow").remove();
        var dir = $.fn.stupidtable.dir;

        var arrow = data.direction === dir.ASC ? "&darr;" : "&uarr;";
        th.eq(data.column).append('<span class="arrow">' + arrow +'</span>');
      });
			if(showpulse) showpulse();
   });
    </script>

{% endverbatim %}
{% endblock %}