{% extends "base.html" %}

{% block title %}IATI Report Card – Donors{% endblock %}

{% block content %}
<h1>IATI Donor Information</h1>
    <p class="lead">The following countries are listed by number of IATI-recorded activities.</p>

    {% for country in countries %}
    <div>
      <h2><a href="{{ init.urlBase }}?path=donors&donor={{ country.name|toAscii }}">{{ country.name }}</a> <small>{{ country.total }}</small></h2>
      
      <div class="progress">
        <div class="progress-bar" style="width: {{ ((country.total - country.added) / max_count * 100)|round2 }}%">
          <span class="sr-only">{{ ((country.total - country.added) / max_count * 100) }}% Existing</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: {{ ((country.added) / max_count * 100)|round2 }}%">
          <span class="sr-only">{{ ((country.added) / max_count * 100)|round2 }}% New</span>
        </div>
      </div>

      
      
      
    </div>
    {% endfor %}	

{% endblock %}