body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


table.countries td, table.countries th {
  font-size: 140%;
  
}

span.arrow {
  margin: 0 5px;
}

div.crazy-visual {
  background-color: rgb(42, 100, 150);
  height: 200px;
  width: 100%;
  
  margin-bottom: 20px;
  
}